* {
    --outside-bgcolor: #aed9f5;
    --main-bgcolor: #e4edf6;
    --main-shadow: 0px 0px 10px rgb(60, 72, 84);
    --input-border-color: #ccc;
    --input-border-color-focus: #2f80ed;
    --input-box-shadow-focus: rgba(47, 128, 237, 0.2);
    --button-bgcolor: #2f80ed;
    --button-text-color: white;
    --button-bgcolor-hover: #1c63d5;
    --p-text-color: #555;
    --p-text-color-hover: #2f80ed;
    --border-bottom-color: #eee;
    --my-userid-color: #333;
    --span-color: #444;
    --message-button-bgcolor: #27ae60;
    --message-button-text-color: white;
    --message-button-bgcolor-hover: #219150;
    --label-text-color: #333;
    --profile-button-bgcolor: #007bff;
    --profile-button-text-color: white;
    --profile-button-bgcolor-hover: #0056b3;
    --chat-chatboard-bgcolor: #a1d8ef;
    --chat-bgcolor: white;
    --chat-friendname-text-color: #333;
    --chat-sent-messages-bgcolor: #dcf8c6;
    --chat-sent-messages-text-color: #333;
    --chat-recieved-messages-bgcolor: #e6e6e6;
    --chat-recieved-messages-text-color: #333;
    --chat-placeholder-text-color: #999;
    --chat-input-border-color: #ccc;
    --chat-button-bgcolor: #007bff;
    --chat-button-text-color: white;
    --chat-bgcolor-hover: #0056b3;
}